* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 128px;
  height: 100%;
  padding: 128px;
}

.title {
  text-align: center;
  font-size: 64px;
}

.todos {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.todo {
  flex: 1;
  padding: 64px 32px;
  border: 1px solid #ccc;
}

.todo__title {
  font-size: 32px;
  text-align: center;
}

.todo__action {
  margin-top: 32px;
  text-align: center;
}

.todo__button {
  padding: 4px 8px;
}

.todo__count {
  margin-left: 8px;
}

.total {
  text-align: center;
}

.total__count {
  font-size: 64px;
}
